<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293054023217-iv7c9h699uifln89kcap7vqoekvcrj8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293054023217-iv7c9h699uifln89kcap7vqoekvcrj8u</string>
	<key>API_KEY</key>
	<string>AIzaSyBr_nu8uqVmCOlj_Gq4j-o1QFHr790v3VY</string>
	<key>GCM_SENDER_ID</key>
	<string>293054023217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasenotworkingproject</string>
	<key>PROJECT_ID</key>
	<string>fir-notworkingwithflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notworkingwithflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293054023217:ios:4727c170bd4d152e127710</string>
</dict>
</plist>